<p>
  Hi!! I'm Satyaram! People also call me BV.
</p>

<p>
  I'm Co-Founder and CTO of <%= link_to "Evitca Inc.", "http://www.evitca.com/" %>.
  Web has always fascianted me since my childhood and this fascination encouraged me to
  create over a dozen websites.
  I'm particularly interested in User Experience Design and this makes me thrive to make more user friendly web products.
</p>

<p>
  I finished my B.Tech from <%= link_to "Indian Institute of Technology Madras", "http://www.iitm.ac.in/" %>, one the most prestigious universities in the world.
  Before diving into the entreprenuership world, I was a Software Design Engineer at <%= link_to "Chronus Corporation", "http://chronus.com/" %>.
</p>

<p>
  I've been working on <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %> for over three years from the moment I found this ultimate application framework for web development.
</p>

<p>
  I advocate the principle of <%= link_to "open source", "http://www.opensource.org/" %>. You may view my contributions on the <%= link_to "projects page", projects_path %>.
</p>