<% @page_subheading = link_to("inbox", messages_path, :class => "button") if @admin_view %>

<div id="contact">
  <h2>Send me a message...</h2>
  <div id="contact_form" class="clearfix">
    <%= form_for @message, :remote => true do |f| %>
      <%= f.label 'Name' %>
      <%= f.text_field :name, :autocomplete => :off %>

      <%= f.label 'Email *' %>
      <%= f.text_field :email, :autocomplete => :off %>

      <%= f.label 'Message *' %>
      <%= f.text_area :body, :autocomplete => :off %>

      <%= content_tag 'div', raw(recaptcha_tag(:challenge, :display => {:theme => 'blackglass'})), :class => 'captcha_widget' %>

    <%= f.submit 'Send', :class => 'button' %>
    <% end %>
  </div>

  <div id="follow_me">

  </div>
</div>