<%= render :layout => 'projects/project',
  :locals => {:project_title => "Facebooker3", :project_category => "Rubygem", :project_logo => "facebooker.png"} do %>
  Facebooker3 is an attempt to make facebook app development a fun filled leisure time activity. <br />
  The attempt is to bring the <%= link_to "Facebook's Graph API", "http://developers.facebook.com/docs/reference/api/" %> as close to Active Record as possible.
  The Ruby gem is still in development phase, but is attracting a good amount of development crowd.
  The number of download of the gem explains it all!!
  <div class="synopsis">
    <%= download_count_info("facebooker") %>
    <div class="related_links">
      <span class="helptext">Related Links: </span>
      <%= link_to "Source Code", "#", :target => "_blank" %>
      <%= link_to "Rubygem Page", "https://rubygems.org/gems/facebooker3", :target => "_blank" %>
    </div>
  </div>
<% end %>