<%= render :layout => 'projects/project',
  :locals => {:project_title => "Flames", :project_category => "Rubygem", :project_logo => "flames.jpg"} do %>
  Flames is a Ruby implementation of the Flames love game. <br />
  Do you have a secret crush??
  Want to know the scope of your relationship with the crush??
  The Flames tool is the one you are looking for.
  Flames stands for Friendship, Love, Affair, Marriage, Enmity and Sisterhood. <br />
  The project implements the Flames love game as a ruby gem.
  You may easily implement Flames game on your website by plugging in this Rubygem.
  <div class="synopsis">
    <%= download_count_info("flames") %>
    <div class="related_links">
      <span class="helptext">Related Links: </span>
      <%= link_to "Demo", "http://flames.heroku.com/", :target => "_blank" %>
      <%= link_to "Source Code", "https://github.com/bvsatyaram/Flames", :target => "_blank" %>
      <%= link_to "Rubygem Page", "https://rubygems.org/gems/flames", :target => "_blank" %>
    </div>
  </div>
<% end %>