<div id="projects">
  <%= render :partial => "projects/flames" %>
  <%= render :partial => "projects/random_password_generator" %>
  <%= render :partial => "projects/lazy_styler" %>
  <%= render :partial => "projects/disable_on_submit" %>
  <%= render :partial => "projects/pomodoro" %>
  <%= render :partial => "projects/validate_email" %>
  <%= render :partial => "projects/facebooker" %>
  <%= render :partial => "projects/ruby_data_structures" %>
  <%= render :partial => "projects/quick_scrapper" %>
  <%= render :partial => "projects/truncateHTML" %>
  <%= render :partial => "projects/back_mark" %>
</div>