<!DOCTYPE html>
<html>
  <head>
    <title>B V Satyaram <%= " | #{@page_title}" if @page_title %> </title>
    <%= stylesheet_link_tag 'styles', 'custom_fonts', 'tablesorter/style' %>
    <%= javascript_include_tag :defaults %>
    <link type="image/gif" href="/images/favicon.gif" rel="icon" />
    <link type="image/gif" href="/images/favicon.gif" rel="shortcut icon" />
    <%= csrf_meta_tag %>
  </head>

  <body class="<%= 'home' if @home_view %>">
    <div id="wrapper">
      <div id="header">
        <div class="page_wide">
          <% if @admin_view %>
            <span id="admin_logout">Logged in as Admin <%= link_to "(Signout)", signout_path %></span>
          <% end %>
          <a href="#"> <img class="logo" src="/images/logo.gif" alt="Satyaram B V" /> </a>
          <ul id="topnav">
            <li><%= link_to("Home", root_path, :class => tab_class_name(:home)) %></li>
            <li><%= link_to "Blog", ExternalLinks::BLOG_URL, :class => "unselected" %></li>
            <li><%= link_to "Articles", ExternalLinks::ARTICLES_URL, :class => "unselected" %></li>
            <li><%= link_to("Projects", projects_path, :class => tab_class_name(:projects)) %></li>
            <li><%= link_to("About", about_path, :class => tab_class_name(:about)) %></li>
            <li><%= link_to("Contact", contact_path, :class => tab_class_name(:contact)) %></li>
          </ul>
        </div>
      </div>

      <div id="main_content" class="page_wide clearfix">
        <% if @page_heading %>
          <div id="heading">
            <h1><%= @page_heading %></h1>
            <% if @page_subheading %>
              <p><%= @page_subheading %></p>
            <% end %>
          </div>
        <% end %>

        <%= show_flash  %>

        <div id="content" class="clearfix">
          <% if @page_intro %>
            <p class="intro"><%= @page_intro %></p>
          <% end %>

          <%= yield %>
        </div>
      </div>

      <div id="clear_footer"></div>
    </div>

    <div id="footer">
      <p>
        Copyright &copy; 2011 <a href="/">BV Satyaram</a>
        <span class="divider"></span>
        All Rights Reserved
      </p>
    </div>
  </body>
</html>
